chumpy==0.70
coloredlogs==15.0.1
easydict==1.10
matplotlib==3.6.1
numpy==1.21.6
opencv_python==4.6.0.66
openmesh==1.2.1
psbody_mesh==0.4
pycocotools==2.0.6
pyrender==0.1.45
pytorch3d==0.7.4
scikit_image==0.19.2
scikit_learn==1.0.2
scipy==1.10.1
setuptools==65.4.1
termcolor==2.3.0
torch==2.0.1
torch_geometric==2.3.1
torchvision==0.15.2
tqdm==4.64.0
trimesh==3.22.1
